[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-project"]
	path = bundle/vim-project
	url = git://github.com/shemerey/vim-project.git
[submodule "bundle/jasmine.vim"]
	path = bundle/jasmine.vim
	url = git://github.com/claco/jasmine.vim.git
